<header class="header">
  <div class="container header__container">
    <a href="/" class="logo header__logo">
      Логотип          
    </a> 
    <nav class="header__nav top-menu">
      <ul class="top-menu__list">
        <li class="top-menu__item"><a href="#" class="top-menu__link">Меню 1</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Меню 2</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Меню 3</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Меню 4</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Меню 5</a></li>
      </ul>
    </nav>
    <div class="header__contacts header-contacts">
      <div class="header-contacts__item">
        <a href="tel:1234567">1234567</a>
      </div>
      <div class="header-contacts__item">
        <a href="mailto:email@mail.com">email@mail.com</a>
      </div>
    </div>    
  </div>
</header>